body
  font-family: 'Open Sans', sans-serif
  margin: 0;
  padding: 0;

a
    text-decoration: none

.wrapper
    max-width: 1220px
    width: 100%
    margin: 0 auto

.btn
    display: inline-block
    // // padding: 8px 30px
    // border: 2px solid #36aeea
    border-radius: 3px
    color: #fff
    background: $blue
    font-weight: 400
    text-transform: uppercase
    letter-spacing: .1em

.btn--bg
    color: #fff
    background: $blue
    padding: 20px 60px
    border: none
    letter-spacing: 1px
    font-size: 14px

.title--sm
    font-size: 16px
    letter-spacing: 1px
    color: #000
    text-transform: uppercase
    margin-bottom: 30px
