$lightGray: #9daeb6
$blue: #36aeea

$gray-bg: #f6f4f4

$gray-text: #949494
// $mainColor: #212121;
// $borderColor: #232323;
// $darkBorderColor: #474747;
// $grayBgColor: #efefef;
// $lightGrayColor: #555;
// $darkGrayColor: #ccc;
// $darkestGrayColor: #4d4c4b;
// $darkBgColor: #222;
// $whiteColor: #eee;
// $orangeColor: #e64a19;


// $footerTextColor: #999;


// $mainFont: "SourceSansProRegular", Arial,sans-serif;
// $boldFont: "SourceSansProBold", Arial,sans-serif;
// $lightFont: "SourceSansProLight", Arial,sans-serif;
